body {
	background-color: #01aff6;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	background-repeat: no-repeat;
}

.divisor{
	clear: both;
	margin-bottom: 3%;
}

form{
	border-size: border-box;
	align-content: center;
}

.aligner{
	text-align: center;
}


