body {
	background-image: url("../img/planodefundo.jpg");
	background-color: #cccccc;
	background-position: center;
	background-size: cover;
}

#divisor{
	clear: both;
	margin-bottom: 3%;
}

form{
	border-size: border-box;
	align-content: center;
}

.aligner{
	text-align: center;
}

.bordao{
	border: dotted;
}
